<form id="inventoryForm">
    {% csrf_token %}
    <input type="hidden" name="product_id" value="{{ product.id }}">
    
    <div class="row">
        <div class="col-md-6">
            <div class="simple-form-group">
                <label class="simple-form-label">SKU</label>
                <input type="text" class="simple-form-control" name="sku" value="{{ product.sku }}">
            </div>
        </div>
        <div class="col-md-6">
            <div class="simple-form-group">
                <label class="simple-form-label">Barcode</label>
                <input type="text" class="simple-form-control" name="barcode" value="{{ product.barcode }}">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="simple-form-group">
                <label class="simple-form-label">Quantity</label>
                <input type="number" class="simple-form-control" name="quantity" value="{{ product.quantity }}" min="0">
            </div>
        </div>
        <div class="col-md-6">
            <div class="simple-form-group">
                <label class="simple-form-label">Low Stock Threshold</label>
                <input type="number" class="simple-form-control" name="low_stock_threshold" value="{{ product.low_stock_threshold }}" min="0">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="simple-form-group">
                <label class="simple-form-label">Track Quantity</label>
                <div class="form-check form-switch mt-2">
                    <input class="form-check-input" type="checkbox" name="track_quantity" {% if product.track_quantity %}checked{% endif %}>
                    <label class="form-check-label">Track inventory for this product</label>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="simple-form-group">
                <label class="simple-form-label">Allow Backorders</label>
                <div class="form-check form-switch mt-2">
                    <input class="form-check-input" type="checkbox" name="allow_backorders" {% if product.allow_backorders %}checked{% endif %}>
                    <label class="form-check-label">Continue selling when out of stock</label>
                </div>
            </div>
        </div>
    </div>
</form>








