# Created by venv; see https://docs.python.org/3/library/venv.html
.env
echo "db.sqlite3" >> .gitignore
echo "*.sqlite3" >> .gitignore
echo "*.sqlite3-wal" >> .gitignore
echo "*.sqlite3-shm" >> .gitignore
echo "media/" >> .gitignore
echo "debug.log" >> .gitignore
echo "*.log" >> .gitignore